fastapi==0.115.6
uvicorn[standard]==0.34.0
pydantic[email]==2.10.5
python-dotenv==1.0.1
SQLAlchemy==2.0.37
psycopg2-binary==2.9.10
pandas==2.2.3
numpy==2.2.1
httpx==0.28.1
requests==2.32.3
websockets==14.1
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
google-genai==0.5.0
OpenDartReader==0.2.3
finance-datareader==0.9.202
mojito2==0.1.6
openpyxl==3.1.5
